body{
    margin: 0;
    padding: 0;
    overflow-x: hidden ;
}
.glavni{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 20vw;
}
.porudzbenica {
    width: 100%;
    height: 50vh;
    background-color: #e3c6c6e1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    padding: 0 8vw;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .porudzbenica h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1c1b1b; 
  }
  
  .porudzbenica h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c2b2b; 
  } 
  
  .porudzbenica p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #343333; 
  }
  
  .porudzbenica form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
  }
  
  .porudzbenica label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .porudzbenica select {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #e08585;
    border-radius: 5px;
    background-color: #e2adade1; 
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .porudzbenica select:hover {
    border-color: #888; 
  }
  
  .porudzbenica select:focus {
    border-color: #555; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  